# Usage:
# 1. Copy this file to .env: cp .env.example .env
# 2. Enter your API Key
# 3. Run the example code
#
# ============================================================


OPENAI_API_KEY=
HF_TOKEN=
SCADS_API_KEY=
SCADS_API_URL=